<footer>
    <div class="sobre">
        <a id="footer-logo" href="/home">
            <h3>LUMINA</h3>
            <p>Tech</p>
        </a>
        <p>Discover the latest in premium electronics with cofting edge technology and design.</p>
        <div class="redes-sociais">
            <ul>
                <li><a href="https://www.instagram.com/"><img id="logoRedes" src="img/instagram-logo-50.png"
                            alt="Instagram">
                    </a></li>
                <li><a href="https://www.facebook.com/"><img id="logoRedes" src="img/facebook-50.png"
                            alt="Facebook">
                    </a></li>
                <li><a href="https://www.youtube.com/"><img id="logoRedes" src="img/youtube-squared-50.png"
                            alt="Youtube"></a></li>
            </ul>
        </div>

    </div>

    <nav id="menu-icones">
        <a href="">Politica de Privacidade</a>
    </nav>
</footer>