<header>
    <a id="header-logo" routerLink="/"><h3>LUMINA</h3><p>Tech</p></a>
    
    <nav id="menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/sobre">Sobre</a></li>
        <li><a routerLink="/contato">Contato</a></li>
    </nav>
    
    <nav id="menu-icones">
        <div class="search-container">
            <input type="text" 
                   placeholder="Buscar..." 
                   [(ngModel)]="termoBusca" 
                   (keyup.enter)="pesquisar()">
            
            <button (click)="pesquisar()">🔍</button>
        </div>
        
        <a href="">Usuario</a>
    </nav>
</header>