header {
    width: 100vw;
    background-color: var(--cor-fundo-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    padding: 0 4vw;
    border-bottom: 1px solid var(--cor-detalhes);
}

#menu-icones,
#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

#header-logo{
    height: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#header-logo h3{
    font-size: 4vh;
    font-weight: 500;
}

#header-logo p{
    font-size: 3vh;
    font-weight: 300;    
}

a {
    font: var(--fonte-principal);
    color: var(--cor-texto-principal);
}