<header>
    <a id="header-logo" routerLink="/"><img src="logo.png" alt=""></a>
    
    <nav id="menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/sobre">Sobre</a></li>
        <li><a routerLink="/contatos">Contato</a></li>
    </nav>
    
    <nav id="menu-icones">
        <div class="search-container">
            <input type="text" 
                   placeholder="Buscar..." 
                   [(ngModel)]="termoBusca" 
                   (keyup.enter)="pesquisar()">
            
            <button (click)="pesquisar()"><img src="iconLupa.png" alt=""></button>
        </div>
        
        <a href="">Usuario</a>
    </nav>
</header>