.detail-container {
    padding: 2rem 10vw;
    background-color: var(--cor-fundo-principal);
    min-height: 80vh;
}

.breadcrumb {
    margin-bottom: 2rem;
    color: var(--cor-detalhes);
}

.breadcrumb a {
    text-decoration: none;
    color: var(--cor-destaque);
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.main-img {
    width: 100%;
    border-radius: 12px;
    background: var(--cor-fundo-principal);
    object-fit: contain;
    height: 400px;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    overflow-x: auto;
}

.thumb {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--cor-fundo-principal);
}

.title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.meta {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
    color: var(--cor-detalhes);
    font-weight: 500;
}

.description {
    line-height: 1.6;
    color: var(--cor-texto-descricao);
    margin-bottom: 2rem;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-texto-secundario);
    display: block;
}

.btn-buy {
    background-color: var(--cor-destaque);
    color: var(--cor-branco);
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
    transition: background 0.3s;
}

.btn-buy:hover {
    background-color: var(--cor-destaque);
}